.top-section {
    @media only screen and (max-width: 1600px) {
      width: 1280px;
    }
    @media only screen and (max-width: 1500px) {
      width: 1180px;
    }
    @media only screen and (max-width: 1400px) {
      width: 1080px;
    }
    @media only screen and (max-width: 1200px) {
      width: 980px;
    }
  }
  .middle-section {
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 1600px) {
      width: 1280px;
    }
    @media only screen and (max-width: 1500px) {
      width: 1180px;
    }
    @media only screen and (max-width: 1400px) {
      width: 1080px;
    }
    @media only screen and (max-width: 1200px) {
      width: 980px;
    }
}
      .widget-left {
        width: 900px;
        height: 350px;
        background-color: #fff;
        border-radius: 10px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;
 
      }
      .widget-right {
        width: 890px;
        height: 350px;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;
        width: 450px;
      }
  
  .bottom-section {
    display: flex;
    justify-content: space-between;
  }

  
      .widget-left-bottom {
        height: 250px;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;
        width: 670px;
        @media only screen and (max-width: 1200px) {
          width: 570px;
        }
      }
      .widget-right-bottom {
        height: 250px;
        background-color: #fff;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 5px 5px 5px #939393;
        width: 670px;
    
      }
   