<div class="widget-container">
    <div class="widget">
        <div class="icon">
            <i class="fa fa-map"></i>
        </div>
        <div class="value">
            <div class="top">34</div>
            <div class="bottom">Location</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="value">
            <div class="top">3784</div>
            <div class="bottom">shoppings</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon">
            <i class="fa fa-paw"></i>
        </div>
        <div class="value">
            <div class="top">3454</div>
            <div class="bottom">Pending</div>
        </div>
    </div>
    <div class="widget">
        <div class="icon">
            <i class="fa fa-print"></i>
        </div>
        <div class="value">
            <div class="top">34567</div>
            <div class="bottom">Documents</div>
        </div>
    </div>  
</div>
